<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav" />
<body>
	<div class="container">
		<h2 th:text="#{publication}"></h2>
		<p th:text="#{publicationsOfUser}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tablePublications"
				id="tablePublications">
				<thead>
					<tr>
						<th th:text="#{publication.date}">Fecha</th>
						<th th:text="#{publication.title}">Titulo</th>
						<th th:text="#{publication.text}">Texto</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="publication : ${publicationsList}">
						<td th:text="${publication.dateToString()}">12/12/2020</td>
						<td th:text="${publication.title}">Titulo de la publicacion</td>
						<td th:text="${publication.text}">Texto de la publicacion</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<footer th:replace="fragments/footer" />
</html>